.bottom{
    padding: 0 2.5rem;
}

.box{
    padding: 1.5rem 1rem;
}

.box_1{
    display: flex;
    flex-direction: column;
    text-align: center;
    >h2{
        margin-bottom: 1.5rem;
    }
}

.box_1_1{
    padding-bottom: 1.5rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.box_1_1_1{
    align-items: center;
    margin: 0 0 1.5rem 0;
    >h1{
        padding: 0.625rem 1.25rem;
    }
}

.box_1_1_2{
    align-items: center;
    margin: 0 0 1.5rem 0;
    >h1{
        padding: 0.625rem 1.25rem;
    }
}

.box_1_1_3{
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem 0;
}

.button{
    padding: 0.625rem 1.25rem;
    display: flex;
    align-items: center;

    >button{
        cursor: pointer;
        margin: 0 auto;
        padding: 0.625rem 1.25rem;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
        color: white;
        background-color: blue;    
    }
}

.box_2{
    padding: 0.5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.box_2_1_1{
    float: none;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.box_2_1_1_1{
    padding: 0.625rem 1.25rem 0.625rem 0;
    font-size: 0.875rem;
    appearance: none;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.box_2_1_1_2{
    position: absolute;
    right: 0.125rem;
    border: none;
    transform: rotate(90deg);
}

.box_3{
    position: relative;
}

.box_3_1_1{
    margin: 0;
    padding: 1rem 0
}

.box_3_1_1_1{
    margin-bottom: 0.625rem;
}

